{%extends 'layout.html'%}
{%block content%}
<div class="container">
          <h1>Weather API</h1>
            <div class="endpoints mt-3">
                <h3>Endpoints:</h3>
                <ul>
                    <li><b>GET:</b> <a href="/api/weather">/api/weather</a></li>
                    <li><b>GET:</b><i>(Optional)</i></li>
                    <ul>
                        <li>
                            <a href="/api/weather?city=kathmandu&country=nepal&unit=metric">
                                /api/weather/?city={city}&country={country}&unit={unit}
                            </a>
                        </li>
                        <li>city</li>
                        <li>country</li>
                        <li>units:</li>
                        <ul>
                            <li><b>Default</b> metric: Celsius</li>
                            <li>imperial: Fahrenheit</li>
                            <li>standard: Kelvin</li>
                        </ul>
                    </ul>
                </ul>
            </div>
</div>

{%endblock content%}